{% extends "base.html" %}
{% block head %}
{{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/squad.css') }}">
{% endblock %}

{% block content %}
<style>
body {
        background: linear-gradient(90deg, #00b9de, #009fbe)!important;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Exo 2', sans-serif;
        color: #fff;
        margin: 0;
        padding: 0;
        padding-top: 70px;
        overflow-x: hidden;
        overflow-y: auto;
    }

 body::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }

    body::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, .1);
        border-radius: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #ff6b81;
        border-radius: 10px;
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #f7b733;
    }
</style>
<div style="background-image: url('/static/images/banner_bg.jpg'); background-size: cover; background-attachment: fixed; display: flex; flex-direction: column; align-items: center;">

  <div class="squad-header" style="{% if team == 'RCBW' %}--c1: {{ sqclr['c2'] }}; --c2: {{ sqclr['c1'] }};{% else %}--c1: {{ sqclr['c1'] }}; --c2: {{ sqclr['c2'] }};{% endif %}">
        <div class="squad-header-content">
            <div class="team-logo">
                <img src="/static/images/squad_logos/{{ team }}.webp" alt="{{ team }} Logo">
            </div>
            <div class="team-info">
                <div class="team-title">{{ fn }}</div>
                {% if champions[team] | length > 0 %}
                <div class="team-meta-row">
                    <span class="trophy"><i class="fas fa-trophy"></i></span>
                    <span class="year">{{ champions[team] | join(', ') }}</span>
                </div>
                {% endif %}
            </div>
            <div class="team-details">
                <div class="team-details-row">
                    <div class="team-details-label">Captain</div>
                    <div class="team-details-sep">-</div>
                    <div class="team-details-value">{{ team_dt['Captain'] }}</div>
                </div>
                <div class="team-details-row">
                    <div class="team-details-label">Coach</div>
                    <div class="team-details-sep">-</div>
                    <div class="team-details-value">{{ team_dt['Coach'] }}</div>
                </div>
                <div class="team-details-row">
                    <div class="team-details-label">Owner</div>
                    <div class="team-details-sep">-</div>
                    <div class="team-details-value">{{ team_dt['Owner'] }}</div>
                </div>
            </div>
        </div>
    </div>
  
  {% macro display(player) %}
    <div class="player-card" style="{% if player.Team == 'RCBW' %}--c1: {{ sqclr['c2'] }}; --c2: {{ sqclr['c1'] }};{% else %}--c1: {{ sqclr['c1'] }}; --c2: {{ sqclr['c2'] }};{% endif %}">
      <a style="text-decoration: none" href="{{ url_for('main.squad_details', team=player.Team, name=player.Name) }}">
                    <div class="player-image">
                        {% set name = player.Name %}
                        <img class="player-img" src="/static/images/squads/{{ player.Team }}/{{ name.replace(' ', '-') }}.png" alt="{{ player.Name }}">
                    </div>
                    <div class="player-info">
                        <span class="player-name">{{ player.Name.split(' ')[0] | upper }}<span>{{ player.Name.split(' ')[1:] | join(' ') | upper }}</span></span>
                        <span class="player-role">{{ player.Role }}</span>
                        {% if player.Keeper == 'Y' %}
                        <span class="player-role-icon"><img src="/static/images/keeper.png"></span>
                        {% endif %}
                        {% if player.Role == 'Batter' %}
                        <span class="player-role-icon"><img src="/static/images/Batter.svg"></span>
                        {% endif %}
                        {% if player.Role == 'Bowler' %}
                        <span class="player-role-icon"><img src="/static/images/Bowler.svg"></span>
                        {% endif %}
                        {% if player.Role == 'All Rounder' %}
                        <span class="player-role-icon"><img src="/static/images/All-rounder.svg"></span>
                        {% endif %}
                        <div class="player-right-icons">
                            {% if player.Captain == 'Y' %}
                            <span class="player-captain">C</span>
                            {% endif %}
                            {% if player.Overseas == 'Y' %}
                            <span class="player-overseas"><img src="/static/images/overseas.png"></span>
                            {% endif %}
                        </div>
                    </div>
                  </a>
                </div>
  {% endmacro %}

  <div class="team-section">
    <!-- Batters Content -->
    {% set batters = sq | selectattr('Role', 'equalto', 'Batter') | list %}
    {% if batters | length > 0 %}
    <div class="section">
      <div class="section-header">
        <h2>BATTERS</h2>
        <div class="section-line"></div>
      </div>
      <div class="players-list">
        {% for player in batters %}
          {{ display(player) }}
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <!-- All Rounders Content -->
    {% set all_rounders = sq | selectattr('Role', 'equalto', 'All Rounder') | list %}
    {% if all_rounders | length > 0 %}
    <div class="section">
      <div class="section-header">
        <h2>ALL ROUNDERS</h2>
        <div class="section-line"></div>
      </div>
      <div class="players-list">
        {% for player in all_rounders %}
          {{ display(player) }}
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <!-- Wicket Keepers Content -->
    {% set keepers = sq | selectattr('Role', 'equalto', 'Wicket Keeper') | list %}
    {% if keepers | length > 0 %}
    <div class="section">
      <div class="section-header">
        <h2>WICKET KEEPERS</h2>
        <div class="section-line"></div>
      </div>
      <div class="players-list">
        {% for player in keepers %}
          {{ display(player) }}
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <!-- Bowlers Content -->
    {% set bowlers = sq | selectattr('Role', 'equalto', 'Bowler') | list %}
    {% if bowlers | length > 0 %}
    <div class="section">
      <div class="section-header">
        <h2>BOWLERS</h2>
        <div class="section-line"></div>
      </div>
      <div class="players-list">
        {% for player in bowlers %}
          {{ display(player) }}
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>

</div>
{% endblock %}
