{% extends "base.html" %} {% block head %} {{ super() }}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
<style>
</style>
{% endblock %}

{% block content %}
<style>
    body {
  background: linear-gradient(90deg, hsl(324 100% 46%), #009fbe)!important;
  background-size: cover;  
  }
</style>
<div style="padding-top: 75px;"></div>
    <br>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3" style="vertical-align: middle">
                <h5>Match Number:-&nbsp;&nbsp;<b>{{ FR.Match_No }}</b></h5><br>
                <h5>Match Date:-&nbsp;&nbsp;<b>{{ FR.Date.strftime('%d-%b-%Y') }}</b></h5><br>
                <h5>Match between:-</h5>
                <h5 style="display: flex; align-items: center;"><b><img src="/static/images/squad_logos/{{ FR.Team_A }}.webp"
                            alt="user photo" width="26" height="26" />&nbsp;{{ fn[FR.Team_A] }}<br><br>
                       <img src="/static/images/squad_logos/{{ FR.Team_B }}.webp"
                            alt="user photo" width="26" height="26" />&nbsp;{{ fn[FR.Team_B] }}</b></h5><br>
      <button type="submit" class="btn btn-success" data-toggle="modal"
      data-target="#mymodal">Update POTM</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Header -->
            <div class="modal-header">
                <h6 class="modal-title"><b>Update POTM of </b><br>{{ FR.Team_A }}&nbsp;&nbsp;vs&nbsp;&nbsp;{{ FR.Team_B }}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
        <!-- Body -->
            <div class="modal-body">
                <form action="/updatepotm" method="POST">
                    <div class="container">
                        <div class="jumbotron p-3">
                    <div class="form-group">
                        <label for="team">POTM Team:</label>
                        <select name="team" id="team" required="required" class="form-control">
                        <option value="" disabled selected>----Select----</option>
                        <option value="{{ FR.Team_A }}">{{ FR.Team_A }}</option>
                        <option value="{{ FR.Team_B }}">{{ FR.Team_B }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="potm">Select Team A:</label>
                        <select name="potm" id="potm" required="required" disabled class="form-control">
                        <option value="" disabled selected>----Select----</option>
                        
                        </select>
                    </div></div></div>

                    <input type="hidden" name="hint" value="after"/>
                    <input type="hidden" name="match" value="{{ match }}"/>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        <!-- Fotter -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Render sq as a JS array of objects
    const squad = {{ sq|tojson|safe }};
    const teamA = "{{ FR.Team_A }}";
    const teamB = "{{ FR.Team_B }}";
    const teamSelect = document.getElementById('team');
    const potmSelect = document.getElementById('potm');

    teamSelect.addEventListener('change', function() {
        const selectedTeam = this.value;
        // Filter players by selected team
        const players = squad.filter(p => p.Team === selectedTeam).map(p => p.Name);
        // Clear previous options
        potmSelect.innerHTML = '<option value="" disabled selected>----Select----</option>';
        if (players.length > 0) {
            // Populate new options
            players.forEach(function(player) {
                const option = document.createElement('option');
                option.value = player;
                option.textContent = player;
                potmSelect.appendChild(option);
            });
            potmSelect.disabled = false;
        } else {
            potmSelect.disabled = true;
        }
    });
</script>
{% endblock %}
