body {
    background: linear-gradient(90deg, #00b9de, #009fbe)!important;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;*/
}

body::-webkit-scrollbar {
        width: 5px;
        height: 12px;
    }

    body::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, .1);
        border-radius: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #ff6b81;
        border-radius: 10px;
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #f7b733;
    }

.team-image {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); /* Soft shadow */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    overflow: hidden;
    padding: 5px;
  background: linear-gradient(145deg, var(--c1), var(--c2));; /* Set the background color */
}

.team-image img {
  width: 85%; /* Scale down the image */
  height: 85%; /* Keep the height proportional */
  border-radius: 50%; /* Ensure the image matches the container's circular shape */
  object-fit: cover; /* Keep the aspect ratio */
}

.vs-image {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);*/ /* Soft shadow */
  /*transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;*/
}

.vsblock img {
  display: block; /* Make images block-level for better alignment */
  margin: 0 7px;
}

.team-image:hover {
  /*box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);*/ /* Glow effect */
  transform: scale(1.1); /* Slight zoom on hover */
}

.vsblock {
    display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 15px;
  width: 100%;
  padding-top: 25px;
}

.result-span.blink {
    animation: blink 1.5s infinite;
    }

    @keyframes blink {
    50% {
      opacity: 0;
    }
    }

.button-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.custom-button {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  color: white;
  font-size: 20px;
  background-color: #0064c7;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #ffc107;
}

.custom-button.active {
  background-color: #ffc107;
  color: #333;
}

h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

 #header {
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px; /* Add some space below the header */
        }
.clockdiv {
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}

.clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
}

.clockdiv div>span {
    padding: 10px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
	font-weight: bold;
}

/* Style for visible text */
.smalltext {
    padding-top: 5px;
    font-size: 12px;
	font-weight: bold;
}
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Exo 2', serif;
    }
    /*body {
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }*/
	.main-container {
      display: flex;
      justify-content: center;
      width: 92%;
      /*border: 2px solid #333;*/
      /*font-size: calc(1rem + 0.3vw); *//* Dynamically adjusts size */
    }
    .score-card {
      background-color: #ffffff;
      width: 60%;
      border-radius: 10px; /* Curved corners */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;
      overflow: hidden; /* Ensures the background color covers the curved borders */
    }
	.timer-card {
      background-color: #ffffff;
      width: 40%;
      padding-top: 0px;
      padding-bottom: 16px;
      border-radius: 10px; /* Curved corners */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;
      overflow: hidden; /* Ensures the background color covers the curved borders */
	  /*display: flex;*/ /* Enable Flexbox */
	  justify-content: center; /* Horizontal centering */
	  align-items: center; /* Vertical centering */
  /*min-height: 200px;*/ /* Ensure enough height for proper alignment */
    }
    .header {
      display: flex;
      justify-content: center !important;
      text-align: left;
      vertical-align: middle;
      color: #ffffff; /* Make text color white to contrast */
      padding: 10px 16px;
      background-color: var(--c); /* Same background color, now within score card */
      font-weight: bold;
      font-size: 15px;
    }
    .date {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
}
.date::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 1.5px;
  height: 70%;
  background-color: #ccc;
}
    .match-info {
      display: flex;
      justify-content: center;
      font-size: 14px;
      color: #333;
	  font-weight: bold;
      text-align: left;
      padding-left: 16px;
      padding-right: 16px;
	  padding-top: 4px;
      margin-bottom: 12px;
    }
    .teams {
      display: flex;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }
    .team {
      display: flex;
      align-items: center;
      /*flex: 1;*/
      flex-grow: 1;
    }
    .team img {
      width: 24px;
      height: 18px;
      margin-right: 8px;
    }
    .score-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 1;
    }
    .score {
      font-weight: bold;
      color: #444;
      margin-top: 4px;
    }
    .result {
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-top: 2px;
      font-weight: bold;
      color: #1c75bc;
      background-color: #e7e6e6;
    }

    .result1{
      text-align: center;
      margin-top: 12px;
      font-weight: bold;
      color: #1c75bc;
    }

    .score-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 10px 0;
    }

    .team-new {
      display: flex;
      flex-direction: row;
      gap: 6px;
    }

    .left-team {
      text-align: right;
      align-items: center;
    }

    .right-team {
      text-align: left;
      align-items: center;
    }

    .team-logo img {
      width: 45px;
      height: 45px;
      border: 0px solid #e91e63;
      padding: 0px;
    }

    .score-board {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }

    .score-new {
      font-size: 16px;
      font-weight: 700;
      color: #777;
    }

    .score-win {
      color: #e91e63;
    }

    .playoff-win {
      color: #FF9933;
    }

    .overs-win {
      color: #000 !important;
    }

    .overs {
      font-size: 14px;
      color: #aaa;
    }

    .vs-circle {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #e91e62ab;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 11px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .team-display {
      width: 200px;
      font-size: 14px;
      font-weight: 600;
      color: black;
    }

    .eliminator img {
      width: 65px;
      height: 45px;
    }

    .final img {
      width: 65px;
      height: 45px;
    }
    .super-over-label {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #777;
      align-items: center;
      font-size: 25px;
    }

@media (max-width: 840px) {
      .timer-card {
        display: none;
      }

      .score-card {
        width: 100%;
      }

      .team-display {
        width: 100px;
      }
    }